Repository orbit/orbit, pull requests merged in 2019-05, with the labels that each got.

#381 DSL: fix samples build
  samples/helloworld-dsl-java/build.gradle
  samples/helloworld-dsl/build.gradle
  src/dsl/orbit-dsl-common/build.gradle
Labels: alpha, dsl

#382 DSL: remove generic AST annotations and refactor type checking
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ActorDeclaration.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ActorMethod.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/AstNode.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/AstVisitor.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/DataDeclaration.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/DataField.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/Declaration.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/EnumDeclaration.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/EnumMember.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/MethodParameter.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ParseContext.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/Type.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/TypeOccurrenceContext.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/error/ErrorListener.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/error/ErrorReporter.kt
  src/dsl/orbit-dsl-ast/src/test/kotlin/cloud/orbit/dsl/ast/AstNodeTest.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/OrbitDslFileParser.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/AstNodeContextProvider.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/EnumDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/TypeVisitor.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/OrbitDslFileParserTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/CompilationUnitBuilderVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/EnumDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TestAstNodeContextProvider.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TypeVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeArityCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheckingVisitor.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeDescriptor.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeErrorListener.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TestErrorReporter.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeArityCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckingVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeErrorListenerTest.kt
Labels: alpha, dsl

#383 DSL: fix code generation after AstNode refactoring
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/JavaCodeGenerator.kt
Labels: alpha, dsl

#384 DSL: rename Type to TypeReference
  src/dsl/orbit-dsl-parsing/src/main/antlr/cloud/orbit/dsl/OrbitDsl.g4
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/OrbitDslFileParser.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/TypeReferenceVisitor.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TypeReferenceVisitorTest.kt
Labels: alpha, dsl

#385 DSL: rename Type to TypeReference (part 2)
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ActorMethod.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/AstVisitor.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/DataField.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/MethodParameter.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/TypeReference.kt
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/JavaCodeGenerator.kt
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/TypeIndexer.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/JavaCodeGeneratorTest.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/TypeIndexerTest.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/TypeReferenceVisitor.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/OrbitDslFileParserTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TypeReferenceVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeArityCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheckingVisitor.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeArityCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckingVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeErrorListenerTest.kt
Labels: alpha, dsl

#387 DSL: support void as a primitive type
  src/dsl/orbit-dsl-common/src/main/kotlin/cloud/orbit/dsl/type/PrimitiveType.kt
  src/dsl/orbit-dsl-java/build.gradle
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/TypeIndexer.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/TypeIndexerTest.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/OrbitDslTypeChecker.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/VoidUsageCheck.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/OrbitDslTypeCheckerTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TestErrorReporter.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/VoidUsageCheckTest.kt
Labels: alpha, dsl

#388 DSL: support GUID as a primitive type
  src/dsl/orbit-dsl-common/src/main/kotlin/cloud/orbit/dsl/type/PrimitiveType.kt
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/TypeIndexer.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/JavaCodeGeneratorTest.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/TypeIndexerTest.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitor.kt
Labels: alpha, dsl

#389 DSL: change ActorDeclaration.keyType type to TypeReference; add type check
  src/dsl/orbit-dsl-ast/build.gradle
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ActorDeclaration.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ActorKeyType.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/AstVisitor.kt
  src/dsl/orbit-dsl-java/src/main/kotlin/cloud/orbit/dsl/java/JavaCodeGenerator.kt
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/JavaCodeGeneratorTest.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/OrbitDslFileParser.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitor.kt
  src/dsl/orbit-dsl-parsing/src/main/kotlin/cloud/orbit/dsl/visitor/UnsupportedActorKeyTypeException.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/OrbitDslFileParserTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/ActorKeyTypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/OrbitDslTypeChecker.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheckingVisitor.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/VoidUsageCheck.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/ActorKeyTypeCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/OrbitDslTypeCheckerTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckingVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/VoidUsageCheckTest.kt
Labels: alpha, dsl

#390 DSL: complete test for actor with int64 key Java code gen
  src/dsl/orbit-dsl-java/src/test/kotlin/cloud/orbit/dsl/java/JavaCodeGeneratorTest.kt
Labels: alpha, dsl

#391 DSL: simplify error listening and reporting
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/AstVisitor.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ErrorListener.kt
  src/dsl/orbit-dsl-ast/src/main/kotlin/cloud/orbit/dsl/ast/ErrorReporter.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/ActorKeyTypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/OrbitDslTypeChecker.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeArityCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheck.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeCheckingVisitor.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/TypeErrorListener.kt
  src/dsl/orbit-dsl-typecheck/src/main/kotlin/cloud/orbit/dsl/VoidUsageCheck.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TestErrorReporter.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckingVisitorTest.kt
Labels: alpha, dsl

#392 DSL: use MockK in tests instead of custom mocks
  build.gradle
  src/dsl/orbit-dsl-parsing/build.gradle
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/ActorDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/DataDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/EnumDeclarationVisitorTest.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TestAstNodeContextProvider.kt
  src/dsl/orbit-dsl-parsing/src/test/kotlin/cloud/orbit/dsl/visitor/TypeReferenceVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/build.gradle
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/ActorKeyTypeCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TestErrorReporter.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeArityCheckTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/TypeCheckingVisitorTest.kt
  src/dsl/orbit-dsl-typecheck/src/test/kotlin/cloud/orbit/dsl/VoidUsageCheckTest.kt
Labels: alpha, dsl

#393 Disable class info for resource only scan.
  actors/core/src/main/java/cloud/orbit/actors/runtime/DefaultClassDictionary.java
Labels: orbit1, performance, semver:patch

#394 Update asm 7.1 and classgraph 4.8.37.
  actors/pom.xml
Labels: misc, orbit1, semver:patch
